* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.topBar {
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

a {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}

li > a:hover {
  text-decoration: underline;
}

#wave {
  margin-top: 100px;
}

.topContainer {
  z-index: 1;
}

.details {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.detailsText > p {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#octcat-img {
  max-width: 250px;
  max-height: 250px;
}

.detailsText ul {
  margin-top: 15px;
}

.detailsText li {
  font-size: 1.2em;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.gitTutorial {
  background-color: white;
}

.cheatSheet {
  position: fixed;
  right: -233px;
  background-color: #e74c3c;
  border: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  z-index: 1;
}

.cheatSheet:hover {
  right: 0;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}
